<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="home">
        <img src="../../../../favicon.ico" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="home">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                    role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Administration
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="departments">Departments</a>
                    <a class="dropdown-item" routerLink="positions">Positions</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                    role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Employees
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="employees/current">Current Employees</a>
                    <a class="dropdown-item" routerLink="employees/former">Former Employees</a>
                    <div *ngIf="isAdmin">
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" routerLink="employees/add">Add Employee</a>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown" *ngIf="isLogged">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                    role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Requests
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="requests/my">My Requests</a>
                    <div *ngIf="isAdmin">
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" routerLink="requests/add">New Request</a>
                        <a class="dropdown-item" routerLink="requests/pending">Pending Requests</a>
                        <a class="dropdown-item" routerLink="requests/approved">Approved Requests</a>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown" *ngIf="isLogged">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                    role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Projects
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">All Projects</a>
                    <a class="dropdown-item" href="#">My Projects</a>
                    <div *ngIf="isAdmin">
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Add Projects</a>
                    </div>
                </div>
            </li>
            <li class="nav-item" *ngIf="!isLogged">
                <button class="btn btn-info" (click)="openLoginForm()">Login</button>
            </li>
            <li class="nav-item" *ngIf="isLogged">
                <span class="nav-link text-success">Hello, {{userEmail}}</span>
            </li>
            <li class="nav-item" *ngIf="isLogged">
                <button class="btn btn-warning" (click)="onLogOut()">Logout</button>
            </li>
        </ul>
    </div>
</nav>