<div class="row">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Employee</th>
        <th scope="col">Position</th>
        <th scope="col">Birthday</th>
        <th scope="col">In Company From</th>
        <th *ngIf="areFormer" scope="col">In Company To</th>
        <th scope="col">Department</th>
        <th scope="col">Description</th>
        <th *ngIf="isAdmin"></th>
        <th *ngIf="isAdmin"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of employees">
        <td>{{item.firstName}} {{item.lastname}}</td>
        <td>{{item.position}}</td>
        <td>{{item.birthday}}</td>
        <td>{{item.startingDate | date: 'dd/MM/yyyy'}}</td>
        <td *ngIf="areFormer">{{item.inCompanyTo | date: 'dd/MM/yyyy'}}</td>
        <td>{{item.department}}</td>
        <td>{{item.description}}</td>
        <td *ngIf="isAdmin && !areFormer">
          <button class="btn btn-danger" (click)="delete(item.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>